body {
    background-color: #C3FF99;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Kalam', cursive;
    color: #1E5128;
    text-shadow: #C3FF99;
    text-shadow: 2px 1px 2px #9CFF2E;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 150px;
}

#time {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #F9FFA4;
    font-size: 15px;
    font-family: 'Kalam', cursive;
    background-color: #FEFBE7;
}

::placeholder {
    color: #4E9F3D;
}

#timer {
    padding: 30px;
    background-color: azure;
    color: #02383C;
    text-shadow: 2px 1px 2px #6ca7df;
    border: 2px solid #6fda78;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Kalam', cursive;
    background-color: #F9FFA4;
}

#btn {
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #4bcf47;
    font-size: 20px;
    font-family: 'Kalam', cursive;
    background-color: #BCCEF8;
}