html {
  font-size: 25px;
  font-family: "Kalam", cursive;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #9aa7f0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #1e5128;
  text-shadow: #c3ff99;
  text-shadow: 5px 1px 2px #f3dbea;
}

h4 {
  text-align: center;
  font-size: 1rem;
  color: #1e5128;
  text-shadow: 3px 1px 2px #f3dbea;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 150px;
}

#yourTime {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.minutes {
  padding: 10px;
  color: #02383c;
  text-shadow: 2px 2px 2px #6ca7df;
  border: 3px solid #f3dbea;
  border-radius: 20px;
  font-size: 0.8rem;
  font-family: "Kalam", cursive;
  background-color: #dbd2d8;
  margin: 20px 30px;
}

#timer {
  padding: 20px;
  background-color: #e2c2d6;
  color: #02383c;
  text-shadow: 4px 1px 2px #6ca7df;
  border: 3px solid #f3dbea;
  border-radius: 40px;
  font-size: 1.6rem;
}

#btn {
  padding: 5px 15px;
  background-color: #eccce2;
  color: #02383c;
  text-shadow: 4px 1px 2px #6ca7df;
  border: 3px solid #f3dbea;
  border-radius: 30px;
  font-size: 0.8rem;
  font-family: "Kalam", cursive;
}

#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

@media all and (max-width: 550px) {
  #container {
    padding: 10px 100px;
  }

  #timer {
    padding: 25px;
    font-size: 1.2rem;
  }
}
